<head>
<title>bookers-level1</title>
</head>

<h2 class="top_title">ようこそ Bookers へ!</h2>
 <p class="top_text"> Bookers では、さまざまな書籍に関するあなたの意見や</p>
 <p class="top_text">印象を共有し交換することができます</p>

 <p class="top_text"><%= link_to "Title", books_path %></p>